In [1]:
import os
import collections


import powerlaw
import networkx as nx
import pandas as pd
from matplotlib import pyplot as plt
import datetime as dt
import warnings
import seaborn as sns
from datetime import datetime
from datetime import timedelta
import plotly.graph_objects as go
from datetime import date
sns.set()
warnings.filterwarnings("ignore")

# Get and clean daily price for 8 datasets

In [52]:
selectedNetwork = pd.read_csv("dataset/networkdgd.txt", sep=' ', names=["from", "to", "date", "value"])
selectedNetwork['date'] = pd.to_datetime(selectedNetwork['date'], unit='s')
selectedNetwork = selectedNetwork.sort_values(by = 'date')
selectedNetwork['date'] = selectedNetwork['date'].dt.date
print(selectedNetwork['date'].min())
print(selectedNetwork['date'].max())

2016-04-29
2018-05-06

**DGD network is handle seperately because of a long period of data**

In [79]:
csv_name =  "dataset/price_dataset/dgd_price.csv"
with open(csv_name, "r") as file:
        # Read the entire contents of the file into a string
        file_contents = file.read()
        file_contents = file_contents.replace(";" , " ")
        with open("dataset/price_dataset/dgd_price_p1.txt", "w") as file:
        # Write the modified string to the file
            file.write(file_contents)

price_data_p1 = pd.read_csv("dataset/price_dataset/dgd_price_p1.txt", sep=' ')
        
csv_name =  "dataset/price_dataset/dgd_price_p2.csv"
with open(csv_name, "r") as file:
        # Read the entire contents of the file into a string
        file_contents = file.read()
        file_contents = file_contents.replace(";" , " ")
        with open("dataset/price_dataset/dgd_price_p2.txt", "w") as file:
        # Write the modified string to the file
            file.write(file_contents)

price_data_p2 = pd.read_csv("dataset/price_dataset/dgd_price_p2.txt", sep=' ')
        
csv_name =  "dataset/price_dataset/dgd_price_p3.csv"
with open(csv_name, "r") as file:
        # Read the entire contents of the file into a string
        file_contents = file.read()
        file_contents = file_contents.replace(";" , " ")
        with open("dataset/price_dataset/dgd_price_p3.txt", "w") as file:
        # Write the modified string to the file
            file.write(file_contents)

price_data_p3 = pd.read_csv("dataset/price_dataset/dgd_price_p3.txt", sep=' ')

In [96]:
dgd_price = pd.concat([price_data_p1, price_data_p2,price_data_p3])
converted_dates = []
for date in dgd_price['timestamp']:
    converted_dates.append(convert_date(date))

dgd_price['date'] = converted_dates
dgd_price = dgd_price.drop('timestamp',axis=1)
dgd_price.to_csv("dataset/price_dataset/dgd_price_all.csv")

In [98]:
price = pd.read_csv("dataset/price_dataset/dgd_price_all.csv")
price

,Unnamed: 0,open,high,low,close,volume,marketCap,date
0,0,29.109900,29.166300,4.958560,7.948150,34807.70,0,2016-04-29
1,1,7.958280,9.029990,5.933760,7.411290,9314.27,0,2016-04-30
2,2,7.406800,7.406800,5.604730,7.159780,55216.70,0,2016-05-01
3,3,7.119180,7.120270,6.210060,6.673700,50987.50,0,2016-05-02
4,4,6.674600,9.590870,4.104240,6.419560,44238.60,0,2016-05-03
...,...,...,...,...,...,...,...,...
734,21,270.945007,276.359009,267.713013,274.688995,8781740.00,549378000,2018-05-02
735,22,274.929993,281.342010,270.069000,278.481995,6898040.00,556964000,2018-05-03
736,23,278.618988,278.618988,259.671997,263.009003,4677030.00,526018000,2018-05-04
737,24,263.281006,266.963989,256.045013,259.740997,3897150.00,519482000,2018-05-05
738,25,260.136993,281.570007,251.957993,263.023010,16097900.00,526046000,2018-05-06

**Get and clean daily price datasets that are available in CoinMarketCap (Adex,Aragon,Bancor,Cindicator)**

In [ ]:
networks_list = ['adex,aragon','bancor','cindicator']
for network in networks_list:
    clean_price_data(network)

In [57]:
def convert_date(date_string):
    original_date = datetime.strptime(date_string, "%Y-%m-%dT%H:%M:%S.%fZ")
    return original_date.strftime("%Y-%m-%d")

def clean_price_data(network):
    csv_name = "dataset/price_dataset/"+network+"_price.csv"
    txt_file = "dataset/price_dataset/"+network+".txt"

    #Edit csv file to make data usable and store in text file
    with open(csv_name, "r") as file:
        # Read the entire contents of the file into a string
        file_contents = file.read()
        file_contents = file_contents.replace(";" , " ")
        with open(txt_file, "w") as file:
        # Write the modified string to the file
            file.write(file_contents)

    price_data = pd.read_csv(txt_file, sep=' ')

    converted_dates = []
    for date in price_data['timestamp']:
        print(date)
        converted_dates.append(convert_date(date))

    price_data['date'] = converted_dates
    price_data = price_data.drop('timestamp',axis=1)
    price_data.to_csv(csv_name)
    os.remove(txt_file)
    print("Generated cleaned price file:" + csv_name)